@font-face{
  font-family: "Nunito";
  src: url('../style/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');

  font-family: "Sniglet";
  src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

header{
  position: absolute;
  width: 100em;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  
} 

#composer{
  display: flex;
  flex-direction: column;
}

#headerAbout{
  width: 100%;
  display: grid;
  height: 29em;
  grid-template-columns: repeat(2,0fr);
  background-color: #e3286a;
  z-index: -1;
}

#headerAbout #brand{
  position: static;
  width: 26em;
  margin-top:-4em;
  margin-left: -10em;
  position: fixed;
}

#headerAbout #banner{
  width: 40em;
  margin-top: 6em;
  margin-left: 30rem;
  position: fixed;
}


.main{
  width: 100%;
  min-height: 20em;
  margin: auto;
  background-color: #FFFFFF;
  margin-top: -2em;
}

.infos{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 2em 2em;
  margin: auto;
}
.video{
  border: 1px solid;
  height: 30em;
}

.goals{
  height: 30em;
  width: 30em;
  margin: auto;
  padding: 3em 3em;
  text-align: center;
  border-top: 1px solid #e3286a;
  border-bottom: 1px solid #e3286a;
}

.goals h2, .goals h3{
  color: #ffa22d;
 
}
.goals h3{
  padding-bottom: 1em;
}
.goUpArrow {
  height: 30px;
  width: 30px;
  transform: rotate(270deg);
  position: absolute;
  bottom: 0em;
  right: 1em;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}