*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.blog_header{
  position: relative;
  text-align: center;
}

.blog_title {
  font-family: 'REM';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFF;
}

.h_aboutUs{
  display: flex;
  justify-content: center;
}

.h1_aboutUs{
  display: flex;
  margin-top: 10%;
  position: absolute;
  justify-content: center;
  font-family: 'REM';
  color: white;
}

.h2_aboutUS{
  display: flex;
  margin-top: 12%;
  position: absolute;
  justify-content: center;
  color: white;
}

.position_img_aboutUs{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_content{
  position: relative;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  margin-top: 300px;
  padding: 50px;
  background-color: #fff;
  text-align: justify;
}

p{
  font-family: 'REM';
}

#img_aboutUs{
  display: flex;
  justify-content: center;
}

.blog_aboutUs{
  display: flex;
  background-color: #FFF;
}