*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #E3286A;
  background-image: linear-gradient(to bottom right, rgb(255, 145, 0), #faac45);
}

.blog_header {
  position: relative;
  text-align: center;
}

.blog_title {
  font-family: 'REM';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFF;
}

.h1_aboutUs{
  display: flex;
  justify-content: center;
  font-family: 'REM';
  color: white;
}

.h2_aboutUS{
  display: flex;
  justify-content: center;
  color: white;
}
/*
.blog-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
*/
.blog_content {
  justify-content: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  text-align: justify;
}

p{
  font-family: 'REM';
}

.blog_body{
  background-color: #FFF;
}
