*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  #color:hover {
    text-decoration: overline;
  }
  
  #admin{
    margin-top: 0.23em;
  }
  
  #bemvenido { 
    margin-left: 0;
    text-align: center;
    color: #333;
  }

  a{
    text-decoration: none;
  }
  
  .admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .admin-card {
    width: 30em;
    margin: 1em 0;
    background-color: #fff;
    border-radius: 1em;
    padding: 1.4em;
    box-shadow: 0 0.3em 0.3em #0000001a;
    position: relative;
  }
  
  .admin-card .img_icon {
    width: 4em;
    height: 4em;
    color: #333;
    margin-right: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    float: left;
  }
  
  .admin-card h2 {
    font-size: 1.60em;
    color: #333;
    margin: 0;
  }
  
  .admin-card .subtitle {
    font-size: 1.09em;
    color: #777;
    margin-bottom: 0.4em;
  }
  
  .arrow {
    position: absolute;
    top: 1.2em;
    right: 0.2em;
    font-size: 1.5em;
    color: #333;
    /* transform: rotate(45deg); */
  }

  .arrowImage{
    height: 1.2em;
    width: 1.2em;
  }

  /*Modal do usuário*/
/*modal*/
.modal-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
    background: #ffffff52;
    
    box-shadow: 0 0.7em 1em #0000001a;
    backdrop-filter: blur(0.3em);
    -webkit-backdrop-filter: blur(0.3em);
    border: 0.2em solid #ffffff80;

}
.modal1{
  width: 50em;
  height: 30em;
  border: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.1em solid #0000001a;
  border-radius: 1em;
}

#modalUsersContent{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  flex: 3;
  background-color: #fff;
  color: #000; 
  text-align: center;
  padding: 1em;
  flex-direction: column;
  display: flex;
}

#modalTop{
  border-top-right-radius:1em;
  border-top-left-radius:1em;
  flex: 0.3;
  background-color: #ffffff;
  text-align: center;
  border: 0.2em solid #0000001a;
}

.modal-container .mostrar{
  display: flex;
}

@keyframes modal{
  from{
      opacity: 0;
      transform: translate3d(0,-30em,0);
  }
  to{
      opacity: 1;
      transform: translate3d(0,0,0);

  }
}
.mostrar .modal1{
  animation: modal .4s;
}

#modifyFooter{
  margin-bottom: 10.9em;
}

/*end modal*/

/* Estilos da caixa de pesquisa de usuários */
/* .search-box {
  position: relative;
  margin-top: 10px;
}

#searchUser {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.search-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  color: #aaa;
  font-size: 20px;
}

/* Estilos da caixa de usuário */
/* .user-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  flex-grow: 1;
  text-align: left;
}

.user-info h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.user-info p {
  font-size: 12px;
  color: #888;
  margin: 0;
  padding: 0;
}

.make-admin, .ban-user {
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s;
}

.make-admin:hover, .ban-user:hover {
  color: #333;
} */

/* Estilos do segundo modal de confirmação */
/* .confirmation-content {
  width: 300px;
  padding: 20px;
}

.confirmAction {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.confirmAction:hover {
  background-color: #0056b3;
}

 */