*{
    padding:0px;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }

  #admin{
    margin-top: 20px;
  }
  
  #bemvenido { 
    margin-left: 0px;
    text-align: center;
    color: #333;
  }

  a{
    text-decoration: none;
  }
  
  .admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .admin-card {
    width: 500px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .admin-card .img_icon {
    width: 64px;
    height: 64px;
    color: #333;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 4px;
    float: left;
  }
  
  .admin-card h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .admin-card .subtitle {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .arrow {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 24px;
    color: #333;
    /* transform: rotate(45deg); */
  }

  .arrowImage{
    height: 24px;
    width: 24px;
  }


  /*Modal do usuário*/
/*modal*/
.modal-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
    background: rgba(255, 255, 255, 0.32);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.5);

}
.modal1{
  width: 50%;
  height: 65%;
  border: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#btnExitIncon{
  position: absolute;
  top: 18px;
  right: 10px;
}

#modalUsersContent{
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  flex: 3;
  background-color: #fff;
  color: #000; 
  text-align: center;
  padding: 10px;
  flex-direction: column;
  display: flex;
}

#modalTop{
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  flex: 0.3;
  background-color: #006DB7;
  text-align: center;
}

.modal-container.mostrar{
  display: flex;
}

@keyframes modal{
  from{
      opacity: 0;
      transform: translate3d(0,-60px,0);
  }
  to{
      opacity: 1;
      transform: translate3d(0,0,0);

  }
}
.mostrar .modal1{
  animation: modal .4s;
}

/*end modal*/

/* Estilos da caixa de pesquisa de usuários */
.search-box {
  position: relative;
  margin-top: 10px;
}

#searchUser {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.search-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  color: #aaa;
  font-size: 20px;
}

/* Estilos da caixa de usuário */
.user-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  flex-grow: 1;
  text-align: left;
}

.user-info h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.user-info p {
  font-size: 12px;
  color: #888;
  margin: 0;
  padding: 0;
}

.make-admin, .ban-user {
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s;
}

.make-admin:hover, .ban-user:hover {
  color: #333;
}

/* Estilos do segundo modal de confirmação */
.confirmation-content {
  width: 300px;
  padding: 20px;
}

.confirmAction {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.confirmAction:hover {
  background-color: #0056b3;
}
