ul {
    margin-right: -100px;
}

body {
    background-color: rgba(48, 230, 24, 0);
}

@font-face {
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

p {
    font-family: "Sniglet";
}

a,
.link-Header {
    color: #fff;
    width: 120px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aling{
    position: relative;
    left: 50px;
}

.aling2{
    position: relative;
    left: 35px;
}

.aling3{
    position: relative;
    left: 40px;
}

a:hover,
.link-Header:hover {
    color: gray;
}

#brandText {
    font-size: 20pt;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#headerMenu {
    border-radius: 8px;
}

.container {
    margin: 0;
    display: flex;
    align-content: space-between;
}

#accountIcon {
    margin-right: -160px;

}

li:hover {
    color: #2778ad;
}

#accountIcon a {
    font-weight: bold;
}