@font-face{
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
  
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space{
    display: flex;
    flex-direction: row-reverse;
}

.spaceHist{
    display: flex;
    padding-left: 25%;
    padding-bottom: 50%;
    background-color: aqua;
}