* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 0.1%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    z-index: 1;
    position: fixed;
   
   
}
#color{
    color: #fff;
}
#color:hover {
    text-decoration: overline;
    color: #ffffff75
}

#contentHome {
    flex: 1.5; 
    display: flex;
    flex-direction: column;
}

#mainHome {
    color: #ffffff;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to right,
    #05b8a9,
    #05b8a900
    );
}

#imgHome{
    height: 100%;
    width: 100%;
    display: flex;
    justify-self: center;
    z-index: -1;
    position: fixed;
}

.contentTextHome {
    margin-left: 5%;
}

.contentTextHome p {
    display: inline-block; 
    margin-right: 10%; 
}

#header p {
    margin-top: 17%;
    text-align: center;
}

#institutionArea{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.optionsHomeArea{
    height: 150%;
    width: 100%;
    position: relative;
    bottom: 50%;
    padding: 1%;
    display: flex;
    align-items: center;
}

#howToAdopt {
    background-color: #fea02d; 
    color:#000000;
}

#signUpInstitution {
    background-color: #2978acfa;
    color: #ffffff;
}

.btnHome {
    color: #ffffff;
    padding: 1% 1.5%; 
    display: inline-block; 
    margin-left: 10%; 
    transition: 0.2s;
}

#btnFirst{
    width: 25%;
    height: 30%;
    position: relative;
    right: 10%;
    background-color: #E12A69;
    font-size: 100%;
}

#btnSecond {
    width: 30%;
    background-color: #2778AD;
}

#btnThird {
    width: 30%;
    background-color: #E12A69;  
}

#btnFirst:hover, #btnSecond:hover, #btnThird:hover, .btnHome:hover{
    background-color: #ffffff;
    color: #E12A69;
}

.homeArrow1{
    height: 10%; 
    width: 10%;
    filter: invert(100%);
    margin: auto;
    display: inline;
    transition: 0.2s;
}

.homeArrow1:hover{
    filter: invert(0%);
}

.homeArrow2{
    height: 40%; 
    width: 15%;
    filter: invert(100%);
    margin: auto;
    display: inline;
    transition: 0.2s;
}

.homeArrow2:hover{
    filter: invert(0%);
}