* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');

    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}


html::-webkit-scrollbar{
    width: 0.1%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    z-index: 2;
    position: fixed;
}

#color{
    color: #fff;
}

#color:hover {
    text-decoration: overline;
    color: #fdfdfd;
}

#mainHome{
    background-image: linear-gradient(to right,
    #05b8a9,
    #05b8a900
    );

    flex-direction: column;
    display: flex;
    
    justify-content: center;
    position: relative;
    width: 100%;

    border-bottom: 10px solid #e3286a;
}

#mainHome .imgTop{
    width: 100vw;
    height: 99vh;
}

#imgTop{
    z-index: -10;
}

#contentTop{
    margin-left: 40px;
    width: 45vw;
    position: absolute;
    color: #fff;
}

#contentTop h1{
    color: #e3286a;
    font-size:60px;
    font-family: Sniglet;
}

#contentTop p{
    font-size: 25px;
}

.btnHome {
    color: #ffffff;
    padding: 1% 1.5%; 
    display: inline-block; 
    margin-left: 10%; 
    transition: 0.2s;
}

#buttonTop{
    width: 25%;
    height: 30%;
    position: relative;
    right: 10%;
    background-color: #ffa22d;
    font-size: 100%;
}

#buttonTop:hover, .arrow:hover, #btnHowToAdopt:hover{
    transition: 0.5s;
    background-color: rgb(223, 222, 222);
    color: #E12A69;
}

.arrow{
    height: 10%; 
    width: 10%;
    filter: invert(100%);
    margin: auto;
    display: inline;
    transition: 0.2s;
}

#scrollInstitution{
    align-self: center;
    transition: 200ms;
    font-family: Sniglet;
    font-size: 20px;
    position: absolute;
    bottom: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 95%;
}

#scrollInstitution:hover{
    transform: translateY(-20%);   
}

#scrollInstitution a{
    color: #ffff;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

#scrollInstitution p{
    margin-bottom: 0;
}

.arrowDown{
    margin: auto;
    margin-top: 4%;
}

#institutionArea{
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #fff;
    font-family: Sniglet;
}

.optionsHomeArea{
    width: 50%;
    bottom: 50%;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.imgInstitutionArea{
    width: 15%;
    margin: 5%;
}

.contentTextHome {
    margin: 0%;
}

#btnHowToAdopt{
    width: 85%;
    height: 35%;
    position: relative;
    margin-top: 32%;
    background-color: #e3286a;
    font-size: 100%;
    color: #fdfdfd;
}

#btnInstitution{
    width: 85%;
    height: 35%;
    position: relative;
    margin-top: 32%;
    background-color: #2278AD;
    font-size: 100%;
    color: #fdfdfd;
}

#btnInstitution:hover{
    transition: 0.5s;
    background-color: rgb(223, 222, 222);
    color: #2278AD;
}

#goUpButton{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  
  #goUpButton:hover {
    background-color: rgb(180, 180, 180);
    color: #fff;
  }
  
  .goUpArrow {
    height: 20px;
    width: 20px;
    transform: rotate(270deg);
  } 