@font-face{
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
  
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    width: 100em;
    top: 0;
    left: 0;
    z-index: 1;
}

#mainHowToAdopt{
    height: 35em;
    width: 60em;
    color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to right,
    #05b8a9,
    #05b8a9,
    #05b8a986,
    #72e7de00
    );
}

#imgHowToAdopt{
    height: 60em;
    z-index: -1;
    display: flex;
    position: absolute;
    right: 0em;
}

.contentTextHowToAdopt{
    margin-left: 5em;
    font-family: "Sniglet";
}

.contentTextHowToAdoptp {
    display: inline-block; 
    margin-right: 10em; 
}

#button {
    padding: 0.8em 1.5em;
    text-decoration: none;
    font-weight: bold;
    background-color: #E12A69;
    color: #fff;
}

#button:hover{
    background-color: #fff;
    color: #E12A69;
    text-decoration: none;
}

.containerOrganizer{
    height: 30em;
    width: 99em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.containerOrganizer p {
    padding-top: 2em;
    padding-bottom: 1em;
    width: 90em;
}

.slides {
    display: flex;
    overflow: hidden;
    width: 90em;
    max-width: 100em; 
    position: relative;
}

.containerInfo{
    height: 20em;
    width: 90em;
    background-color: rgb(5, 184, 169, 0.4);
    margin-bottom: 1em;
    border-radius: 0.3em;
    flex: 0 0 100em;
    transition: transform 1s ease; 
    animation: animateslides 60s infinite;
}

.containerInfo h2, h3{
    padding-top: 0.8em;
    padding-left: 0.8em;
    color: #2778ad;
    font-family: "Sniglet";
}

.containerInfo h3{
    color: #E12A69;
}

.containerInfo p{
    padding-left: 5em;
}

@keyframes animateslides {
    0%, 100% { transform: translateX(0); }
    10% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }
    100% { transform: translateX(-500%); }
}
