@font-face{
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
  
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    width: 100em;
    top: 0;
    left: 0;
    z-index: 1;
}

#mainHowToAdopt{
    color: #fff;
    height: 35em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to right,
    #05b8a9,
    #05b8a9,
    #05b8a986,
    #72e7de00
    );
}

#imgHowToAdopt{
    width: 10em;
    height: 30em;
    display: flex;
    z-index: -1;
    justify-content: flex-end;
    justify-self: flex-end;
    position: absolute;
    left: 1em;
}

.contentTextHowToAdopt{
    margin-left: 5em;
}

.contentTextHowToAdoptp {
    display: inline-block; 
    margin-right: 10em; 
}

#button {
    padding: 0.8em 1.5em;
    text-decoration: none;
    font-weight: bold;
    background-color: #E12A69;
    color: #fff;
}

#button:hover{
    background-color: #fff;
    color: #E12A69;
    text-decoration: none;
}



.containerOrganizer{
    height: 50em;
    width: 99em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.containerOrganizer p {
    padding-top: 2em;
    padding-bottom: 1em;
    width: 90em;
}

.containerInfo{
    height: 20em;
    width: 90em;
    background-color: #E12A69;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

.containerInfo h2{
    padding-top: 0.4em;
    padding-left: 0.8em;
}

.containerInfo p{
    padding-left: 5em;
}
