@font-face{
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
  
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    position: absolute;
}

#mainHowToAdopt{
    color: #ffffff;
    height: 97vh; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to right,
    #05b8a9,
    #05b8a9,
    #05b8a986,
    #72e7de00
    );
}

#imgHowToAdopt{
    width: 600vh;
    height: 300vh;
    display: flex;
    z-index: -1;
    justify-content: flex-end;
    justify-self: flex-end;
    position: absolute;
    left: 2rem;
}

.contentTextHowToAdopt{
    margin-left: 5rem;
}

.contentTextHowToAdoptp {
    display: inline-block; 
    margin-right: 10px; 
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: #E12A69;
    color: #fff;
}

.button:hover{
    background-color: #fff;
    color: #E12A69;
}

#imgHowToAdopt{
    width: 200vh;
    height: 100vh;
    display: flex;
    justify-self: center;
    z-index: -1;
    position: fixed;
    background-size: cover;
}

.containerOrganizer{
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 40vh;
}

.containerInfo{
    background-color: #E12A69;
    height: 40vh;
    width: 20vw;
}