@font-face{
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
  
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
}

/* Class */
.infoNameAccount{
    display: flex;
    position: absolute;
    font-size: 150%;
    font-family: "Sniglet", sans-serif;
    margin-left: 15%;
    margin-top: -8%;
}

.CpfAccount{
    display: flex;
    position: absolute;
    margin-left: 15%;
    margin-top: -6%;
    font-family: "Sniglet", sans-serif;
    font-size: 140%;
}

.DtNascAccount{
    display: flex;
    position: absolute;
    margin-left: 15%;
    margin-top: -4%;
    font-family: "Sniglet", sans-serif;
    font-size: 120%;
}

.space{
    display: flex;
    justify-content: center;
}

.infoAccountTableGeral{
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 10%;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    font-family: "Nunito", sans-serif;
}

.infoAccountTableEndereco{
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 10%;
    background-color: rgb(255, 255, 255);
}

.infoAccountTop{
    display: flex;
    font-family: "Nunito", sans-serif;
    justify-content: center;
    margin-top: 4%;
    font-size: 115%;
}

.border{
    border-style: solid;
    border-color: black;
    border-width: 12px;
}

.boxEmail{
    position: absolute;
    font-size: 125%;
    border: 1%;
    width: 25%;
    height: 4%;
    border-radius: 3%;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    background-color: rgb(206, 206, 206);
    margin-top: -7%;
    margin-right: 14%;
    
}

.boxTelefone{
    position: absolute;
    font-size: 125%;
    border: 1%;
    width: 15%;
    height: 4%;
    border-radius: 3%;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    background-color: rgb(206, 206, 206);
    margin-top: -2%;
    margin-right: 24%;
}

.boxSenha{
    position: absolute;
    font-size: 125%;
    border: 1%;
    width: 20%;
    height: 4%;
    border-radius: 3%;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    background-color: rgb(206, 206, 206);
    margin-top: 3%;
    margin-right: 19%;
}

.boxConfSenha{
    position: absolute;
    font-size: 125%;
    border: 1%;
    width: 20%;
    border-radius: 3%;
    /*border-color: rgb(206, 206, 206);
    border-style: solid;
    background-color: rgb(206, 206, 206);*/
    margin-top: 8%;
    margin-right: 19%;
}

.labelTitleTop{
    color: white;
}

.AccountSenha{
    background-color: rgb(206, 206, 206);
    width: 50%;
    border: 1%;
    border-style: solid;
    border-width: 20%;
    border-color: rgb(206, 206, 206);
}


/* ID */

#labelAccountEndereco{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    background-color: #E3286A;
    width: 30%;
    padding: 2rex;
    border-radius: 2%;
}

#labelAccountGeral{
    display: flex;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    background-color: #E3286A;
    width: 30%;
    padding: 2rex;
    border-radius: 2%;
}

#imgAccount{
    display: flex;
    position: relative;
    width: 10%;
    height: 25%;
    border-radius: 100%;
    margin-left: 3%;
    margin-top: 5%;
}

#labelAccountEmail{
    position: absolute;
    margin-top: -9%;
    margin-right: 35%;
    font-size: 125%;
    
}

#labelAccounTelefone{
    position: absolute;
    margin-top: -4%;
    margin-right: 34%;
    font-size: 125%;
    
}

#labelAccountSenha{
    position: absolute;
    margin-top: 1%;
    margin-right: 35%;
    font-size: 125%;
    
}

#labelAccountConfsenha{
    position: absolute;
    margin-top: 6%;
    margin-right: 33%;
    font-size: 125%;
}