@font-face{
    font-family: "Nunito";
    src: url('../style/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class */
.info_name_account{
    display: flex;
    position: absolute;
    font-family: "Sniglet", sans-serif;
    margin-left: 15%;
    margin-top: -8%;
}

.info_account_space{
    display: flex;
    justify-content: center;
}

.info_account_color_test{
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 10%;
    background-color: white;
}

.info_account_cep_test{
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 10%;
    background-color: white;
}

.info_account_top{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


/* ID */
#label_account_test{
    justify-content: center;
    padding: 10%;
    width: 10%;
    background-color: rgb(255, 14, 86);
}

#label_account_endereco{
    display: flex;
    justify-content: center;
    background-color: #E3286A;
    width: 20%;
    padding: 2rex;
    border-radius: 2%;
}

#label_account_geral{
    display: flex;
    justify-content: center;
    background-color: #E3286A;
    width: 20%;
    padding: 2rex;
    border-radius: 2%;
}

#img_account{
    display: flex;
    position: relative;
    width: 10%;
    height: 25%;
    border-radius: 100%;
    margin-left: 3%;
    margin-top: 5%;
}

#label_account_email{
    position: absolute;
    margin-top: -9%;
    margin-right: 14%;
}

#box_email{
    position: absolute;
    border: 1%;
    border-style: solid;
    margin-top: -7%;
    margin-right: 14px;
}