* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');

    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}

html::-webkit-scrollbar{
    width: 0.1%;
}

html {
    overflow-x: hidden;
    transition: 3s;
    scroll-behavior: smooth;
    width: 100%;
}
#footerArea{
    width: 100%;
}

header {
    position: fixed;
    width: 100%; 
    z-index:2000;
    background: rgba(0, 128, 0, 0);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/*header link color*/
#color {
    color: #fff;
}

#color:hover {
    text-decoration: overline;
    color: rgba(255, 255, 255, 0.459)
}

/*final header*/

/* area de conteudo */

/*SLIDER AREA*/
#top_main img{
    width: 100vw;
    height: 99vh;
}

#content-top h1{
    color: #e3286a;
    font-size:60px;
    font-family: Sniglet;
}

#content-top p{
    font-size: 25px;
}

#content-top{
    border-bottom: 10px solid #ffa22d;
    margin-left: 40px;
    width: 45vw;
    position: absolute;
    color: #fff;
}

#img_top{
    z-index: -1;
}

#scroll-institution a{
    color: #ffff;
    text-decoration: none;
    text-align: center;
}

#scroll-institution:hover{
    transform: translateY(-20%);   
}

 #scroll-institution{
    align-self: center;
    transition: 200ms;
    font-family: Sniglet;
    font-size: 20px;
    position: absolute;
    bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90%;
}

.arrow-down{
    padding-left: 15px;
    margin: auto;
}

#top_main{
    background-image: linear-gradient(to right,
    #05b8a9,
    #05b8a900
    );

    flex-direction: column;
    display: flex;
    
    justify-content: center;
    position: relative;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*final*/
.teste{
    border-radius: 3%;
    top: 65%;
    left: 3%;
    position: absolute;
}

/*Pesquisa e filtro*/
.loupe{
    opacity: 0.85;
}

.filter{
    border-radius: 50%;
    background-color: #e3286a;
    padding: 2%;
    position: absolute;
    left: 0.9%;
    top: 7.5%;
}

.search-box{
    border: solid 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    background-color:rgb(255, 255, 255);
    height: 50px;
    border-radius: 55px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-input{
    font-family: Sniglet;
    color: rgba(0, 0, 0, 0.534);
    text-align: center;
    margin-left: 45px;
    position: relative;
    right: 0px;
    width: 300px;
    background:none;
    border: 1px;
    outline: 0;
    font-size: 16px;
    padding: 0px;
}
.SearchArea{
  padding-top:85px; 
    border-top: 10px solid #e3286a;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 10vh;
   
}



/*final pesquisa*/
/*area intituicoes*/
#left-arrow{
    left: 30px;
}
#right-arrow{
    right: 30px;
}
.arrow:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
   }

.arrow{
    margin-top: 180px;
    margin-top: 180px;
    border: none;
    background: none;
    opacity: 0.5;
    position: absolute;
    
}
.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.gallery-wrapper{
    overflow-x: auto;
}
.gallery{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.intitution-images-area img {
    cursor: pointer;
    width: 25vw;
    height: 35vh;
}
.intitution-images-area {
    position: relative;
    width: 25vw;
    border-radius: 15px;
    height: 35vh;
}
.institutionArea {
   padding-top: 35px;
   max-width: 85vw;
   min-width: 85vw;
   min-height: 70vh;

    border-top: solid 1px  #e3286a ;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-top: -25px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.institutionBox:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.459);
    transform: translateY(-3%);
}
.institutionBox {
    flex-shrink: 0;
    transition: all 400ms ease;
    overflow: hidden;
    display: flex;
    background-color: white;
    flex-direction: column;
    margin: 30px;
    min-width: 25vw;
    min-height: 55vh;
    width: 25vw;
    height: 55vh;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
    align-items: center;
    border-radius: 15px;
    position: relative;
}
.cardFooter p {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    font-family: Sniglet;
}
.cardFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 5vh;
    bottom: 0px;
    background-color: #00b8a9;
    width: 100%;
}
.institution-Name {
    font-family: Sniglet;
    text-align: center;
}
.locatioIcon {
    margin-right: 10px;
}
.institutionInfo p {
    color: #777777;
}
.institutionInfo {
    text-align: center;
    padding-top: 15px;
    height: 15vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.institutionBox h2 {
    text-decoration: bold;
    font-size: 26px;
}
.donateButton {
    position: absolute;
    right: 8px;
}
.arrowImage {
    margin-left: 80%;
    margin-top: 25px;
    opacity: 0.4;
    width: 25px;
}
/*final area de'  */
