* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
}


.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    position: grid;
}

.filterArea{
    background-color: #fff;
     padding: 5px;  
    margin-bottom: 10px;
    width: 50%;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;   
}

.filterText{
    text-align: center;
    justify-self: center;
    padding-right: 10px;
}

.selectFilter{
    
    justify-self: center;
    padding-right: 10px;
}

.filterImage{
    width: 17px;
    height: 17px;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 10px;
}









