@font-face{
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');

    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
}

html {
    overflow: hidden;
    background-color: #f9f2d0;
    background: linear-gradient(180deg, #2778ad, transparent);

}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.img {
    transform: scaleX(-1);
    height: 60rem;
    display: grid;
    position: relative;
    left: 68rem;
    top: -7rem;
    z-index: 0;
}

p{
    position: relative;
    left: 1rem;
}

.form {
    font-family: "Nunito", "sans-serif";
    border: 3px solid #000;
    color: #000;
    border-radius: 12px;
    padding: 40px 70px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.loginBox button {
    background-color: #CD5151;
    color: #000;
    padding: 10px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    left: 55px;
    width: 70%;
}

.loginBox button:hover {
    background-color: #a73c3c;
}

.loginButton {
    align-items: center;
    font-weight: bold;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffa500 0, #ff8c00 100%);
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-grid;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.loginButton:focus {
    box-shadow: #fe5a1d 0 0 0 1.5px inset, rgba(255, 103, 0, .4) 0 2px 4px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
}

.loginButton:hover {
    box-shadow: rgba(255, 103, 0, .4) 0 4px 8px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
    transform: translateY(-2px);
}

.loginButton:active {
    box-shadow: #fe5a1d 0 3px 7px inset;
    transform: translateY(2px);
}


/* .gradient{
    display: grid;
    background: linear-gradient(135deg, #2778ad, #00b8a9, #ffa22d);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
    height: 100rem;
    padding: 1rem;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
} */