@font-face{
    font-family: "Nunito";
    src: url('../style/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');

    font-family: "Sniglet";
    src: url('../style/fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: transparent;
}

.logo{

    font-family: "Sniglet", sans-serif;
    color: #fff;
    font-size: 55px;
}


.form{
    border: 3px solid #fff;
    color: #fff;
    border-radius: 12px;
    padding: 200px 150px;
    font-size: 27px;
    font-family: "Nunito", "sans-serif";
}

.gradient{
    display: flex;
    background: linear-gradient(135deg, #2778ad, #00b8a9, #ffa22d);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
    padding: 1rem;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}