* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #3ddacd;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.containerProfile {
    width: 60%;
    margin-top: 6em;
    border: 0;
    border-radius: 1em 1em 0em 0em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #ffffff;
}

section {
    margin: auto;
}

.profile {
    display: flex;
    align-items: center;
    margin: 3em;
}

.profile img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 7em;
    border: 1px solid;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h2 {
    margin: 0;
    color: #2778AD;
}

.profile-info p {
    color: #363636;
    margin-top: 1em;
}

.profile-info ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.profile-info li {
    margin-bottom: 5px;
    color: #000000;
}

strong{
    color: #e3286a;
}

.line {
    width: 100%;
}

.line hr {
    border-top: 1px solid #e3286a;
    width: 85%;
    margin: 20px auto 5px;
}

.simple-nav {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 5px 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    ;
}

.button {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s ease;
    margin: 0px;
}

.button:hover {
    color:#e3286a;
    text-decoration: none;
}

.posts {
    margin-top: 1em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
    border-radius: 0.2em; 
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.1); 
    background: rgba(255, 255, 255, 0.4); 
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-auto-rows: 15em;
    padding-left: 0.9em;
    padding-top: 1.2em;
    padding-bottom: 0.9em;
}

.post, .post img{
    width: 16em;
    height: 16em;
    box-shadow: 0 0 0px rgba(52, 52, 52, 0.1);
    align-items: center;
    padding-bottom: 1.1em;
    margin-left: 0.1em;
}

/*
.headerPost{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    height: 2em;
    width: 50em;
    margin-left: 5em;
    margin-top: 1em;
}

.options-button{
    width: 5em;
    height: 2em;
    margin-left: 21.5em;
}

.post-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    width: 8em;
    margin-top: 0em;
    margin-left: 0.1em;
}

.post-options.show-options {
    opacity: 1;
    pointer-events: auto;
}
*/

/*
.post .headerPost p {
    margin: 0;
    width: 8em;
}

.post .edit-button, .post .delete-button {
    background-color: #e3286a;
    color: #fff;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 5.5em;
}

.post .edit-button:hover, .post .delete-button:hover {
    background-color: rgb(255, 255, 255);
    color: #e3286a;
}