* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #e3286a;
    color: #ffffff;
}

.containerProfile {
    width: 80%;
    margin-top: 5em;
    border: 0;
    border-radius: 0.6em 0.6em 0em 0em;
    box-shadow: 0 0.3em 0.3em  rgba(104, 104, 104, 0.5);
    backdrop-filter: blur(6em);
    border: 0.1em solid rgba(255, 255, 255, 0.1);
    background-color: #ffffff;
    min-height: 45em;
}

section {
    margin: auto;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.profile .photoProfile{
    width: 12em;
    height: 12em;
    border-radius: 100%;
    margin: auto;
    border: 0.1em solid;
    margin-left: 9em;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-right: 21.5em;
    margin-bottom: 0em;
}

.profile-info h2 {
    padding-top: 1em;
    color: #2778AD;
}

.profile-info p {
    color: #4b4b4b;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.profile-info ul {
    list-style: none;
}

.profile-info li {
    color: #000000;
}

a{
    color: #e3286a ;
}

strong{
    color: #e3286a;
}

.addProfile{
    position: relative;
    width: 2em;
    height: 2em;
    margin-right: 7em;
    margin-bottom: 7em;
    border: 3px solid;
    border-radius: 0.5em;
}

.line {
    width: 100%;
}

.line hr {
    border-top: 0.1em solid #e3286a;
    width: 85%;
    margin: auto;
}

.simple-nav {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 1em 1.5em;
    width: 60%;
    margin: auto;
}

.button {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    transition: color 0.3s ease;
    margin: 0px;
}

.button:hover {
    color:#e3286a;
    text-decoration: none;
}

.posts {
    margin-top: 1em;
    width: 65em;
    margin: auto;
    margin-bottom: 1.2em;
    border-radius: 0.2em; 
    box-shadow: 0 0em 0.3em  rgba(104, 104, 104, 0.5);
    backdrop-filter: blur(6em);
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-auto-rows: 15em;
    min-height: 30em;
}

.post, .post img{
    width: 16em;
    height: 16em;
    box-shadow: 0 0 0px rgba(52, 52, 52, 0.1);
    padding-bottom: 1.1em;
    margin-left: 0.15em;
}

.post-options {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    width: 8em;
    margin-top: -16em;
    margin-left: 11.8em;
}

.post-options.show-options {
    opacity: 1;
    pointer-events: auto;
}

.post .headerPost p {
    margin: 0;
    width: 8em;
}

.post .edit-button, .post .delete-button {
    background-color: #e3286a;
    color: #fff;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    width: 5.5em;
}

.post .edit-button:hover, .post .delete-button:hover {
    background-color: rgb(255, 255, 255);
    color: #e3286a;
}



/*modal*/
.modal-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: -3em;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.modal1{
    width: 50%;
    height: 55%;  
    margin: auto;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #e3286a;
    border-radius: 0.3em;
    background: #ffffff;
}

#modalTop{
    flex: 0.3;
    background-color: #e3286a;
    width: 100%;
    color: #fff;
    text-align: center;
}

#modalTop h2{
    font-size: 1.6em;
    margin-top: 0.2em;
}

#btnExitIncon{
    position: absolute;
    top: 0.8em;
    right: 10px;
}

#modalContent{
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    flex: 3;
    background-color: #fff; 
    color: #000; 
    text-align: center;
    padding: 10px;
}

#donationArea{
    margin-top: 15px;
    flex: 2;
    flex-wrap: wrap;
    flex-direction: column;
}

#title{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin-top: -1em;
}

#title h3{
    color: #05b8a9;
    margin-top: 0.7em;
}

#title img{
    height: 5em;
    width: 8em;
}

#qrCode{
    width: 12em;
    height: 12em;
    border: 1px solid;
 }

#guidelines {
    margin-top: 2.3em;
    font-size: 0.9em;
    text-align: center;
    color: #474747;
}
 
/*
#donationAmount{
    display: flex;
    margin-top: 25px;
    justify-content: space-between; 
    margin-right: 200px;
    margin-left: 200px;
    justify-content: center;
}

#custimizeAmount h4{
    margin-bottom: 20px;
}

#btnNext{
    margin-top: 20px;
    height: 35px;
    width: 140px;
    margin-left:550px;
}

#custimizeAmount input{
    padding-left:90px;
    margin-left: 35%;
    height: 40px;
    width: 30%;
    align-items: center;
}

#custimizeAmount{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

#institutionAreaModal{
    border-bottom: solid 1px gray;
    display: flex;
}

.modalImageInstitution{
    height: 7rem;
    width:  7rem;
    margin: 5px;
}

h4{
    display: inline;
}

*/
.modal-container.mostrar{
    display: flex;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0,-60px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);

    }
}
.mostrar .modal1{
    animation: modal .4s;
}

#qrCode{
    width: 12px;
    height: 12px;


}