@font-face {
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');

    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
}

html {
    overflow: hidden;
    background-image: url('../img/bgCadastro.png');
}

header {
    position: fixed;
    width: 100em;
    z-index: 1;
    
}

#color {
    color: #fff;
}

.text {
    color: #0d4266;
    width: 20em;
}

#btnLogin,
#btnLogin:hover,
#btnLogin:active {
    color: #4b001a;
    text-decoration: none;
}

.img {
    transform: scaleX(-1);
    height: 60em;
    display: grid;
    position: relative;
    left: 68em;
    top: -6em;
    z-index: 0;
}

.form {
    font-family: "Nunito", "sans-serif";
    border: 1em solid #000;
    color: #000;
    border-radius: 4em;
    position: absolute;
    padding: 13.5em 17em;
    left: 27.5em;
    top: 21em;
    transform: translate(-16em, -14em);
    font-size: 1.3em;
    background: #ffffff52;
    border-radius: 2em;
    box-shadow: 0 1em 10em #0000001a;
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);
    border: 0.01em solid #ffffff80;
}

h1 {
    top: 1em;
    position: fixed;
    left: 1.5em;
}

.table1 {
    top: 6em;
    position: fixed;
    left: 3.5em;
    width: 15em;
}

.table2 {
    top: 6em;
    position: fixed;
    left: 18em;
    width: 14em;
}

.align {
    top: 16.15em;
}

.align2 {
    top: 14.75em;
}

.table3 {
    top: 8em;
    position: fixed;
    left: 11em;
}

.link {
    position: relative;
    right: 7.5em;
}

.signupBox input[type="text"],
.signupBox input[type="password"],
select {
    width: 100em;
    width: 20em;
    padding: 1em;
    border: 0.1em solid #ccc;
    border-radius: 0.2em;
    margin-bottom: 1.2em;
    box-sizing: border-box;
    font-size: 13px;
}

.signupBox button,
.nextButton,
.backButton {
    background-color: #CD5151;
    color: #000;
    padding: 0.5em 0.2em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    align-self: center;
    width: 12em;
}

.signupBox button,
span.nextButton {
    left: 1em;
}

span.backButton {
    left: 1em;
}

.signupBox:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.signupBox button:hover,
span.nextButton:hover {
    background-color: #a73c3c;
}

#pt1 {
    display: inherit;
}

#pt2 {
    display: none;
}

#pt3 {
    display: none;
}

.registerButton,
.nextButton,
.backButton {
    align-items: center;
    font-weight: bold;
    appearance: none;
    background-image: radial-gradient(100em 100em at 100em 0, #ffa500 0, #ff8c00 100em);
    border: 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-grid;
    font-family: "JetBrains Mono", monospace;
    height: 3em;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.registerButton:focus,
.nextButton:focus,
.backButton:focus {
    box-shadow: #fe5a1d 0 0 0 0.01em inset, #ff670066 0 0.02em 0.04em, #ff67004d 0 0.07em 0.13em -0.03em, #fe5a1d 0 -0.03em 0 inset;
}

.registerButton:hover,
.nextButton:hover,
.backButton:hover {
    box-shadow: #ff670066 0 0.04em 0.08em, #ff67004d 0 0.07em 0.13em -0.03em, #fe5a1d 0 -0.2em 0 inset;
    transform: translateY(-0.2em);
}

.registerButton:active,
.nextButton:active,
.backButton:active {
    box-shadow: #fe5a1d 0 3px 7px inset;
    transform: translateY(0.2em);
}

#state {
    font-size: 0.67em;
    width: 18.65em;
}

.city{
    position: relative;
    top: 0.7em;
}

#city{
    position: relative;
    top: 1em;
}

.cep{
    display: grid;
}

.botton{
    top: 0.5em;
}