@font-face {
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');

    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
}

html {
    overflow: hidden;
    background-image: url('../img/bgCadastro.png');
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    z-index: 1;
}

#color {
    color: #fff;
}

.text {
    color: #0d4266;
    width: 150%;
}

#btnLogin,
#btnLogin:hover,
#btnLogin:active {
    color: #4b001a;
    text-decoration: none;
}

.img {
    transform: scaleX(-1);
    height: 130%;
    width: 50%;
    display: grid;
    position: absolute;
    left: 70%;
    margin-top: -10%;
    z-index: 0;
}

.form {
    font-family: "Nunito", "sans-serif";
    border: 3% solid #000;
    color: #000;
    border-radius: 12%;
    position: absolute;
    padding: 19% 20%;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 5%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}
#pt2 h2{
    position: absolute;
    top: 10%;
    right: 50%;
}
#pt2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
}

h1 {
    top: 7%;
    position: fixed;
    left: 9%;
}

.table1 {
    top: 7.5rem;
    position: fixed;
    left: 4rem;
    width: 15rem;
}

.table2 {
    top: 7.5rem;
    position: fixed;
    left: 22rem;
    width: 15rem;
}

.align {
    top: 16.15em;
}

.align2 {
    top: 14.75em;
}
#pt2 .link{
    right: 50%;
    top: 80%;
    position: absolute;
    
}
.link {
    position: relative;
    right: 9.5%;
    
}

.signupBox input[type="text"],
.signupBox input[type="email"],
.signupBox input[type="number"],
.signupBox input[type="phone"],
.signupBox input[type="password"] {
    width: 100%;
    padding: 6%;
    border: 0 solid #ccc;
    border-radius: 4%;
    margin-bottom: 5%;
    box-sizing: border-box;
    font-size: 70%;
}
.signupBox select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4%;
    padding: 6%;
    margin-bottom: 15%;
    box-sizing: border-box;
    font-size: 70%;
}

.signupBox button {
    background-color: #CD5151;
    color: #000;
    padding: 1% 2%;
    border: none;
    border-radius: 4%;
    cursor: pointer;
    align-self: center;
    left: 29%;
    width: 70%;
}

.signupBox button {
    background-color: #CD5151;
    color: #000;
    padding: 15px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    left: 29px;
    width: 70%;
}

.signupBox:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.signupBox button:hover {
    background-color: #a73c3c;
}

.registerButton {
    align-items: center;
    font-weight: bold;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffa500 0, #ff8c00 100%);
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-grid;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 10px;
    position: absolute;
    
    top: -0px;
    right: 50%;
}

.registerButton:focus {
    box-shadow: #fe5a1d 0 0 0 1.5px inset, rgba(255, 103, 0, .4) 0 2px 4px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
}

.registerButton:hover {
    box-shadow: rgba(255, 103, 0, .4) 0 4px 8px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
    transform: translateY(-2px);
}

.registerButton:active {
    box-shadow: #fe5a1d 0 3px 7px inset;
    transform: translateY(2px);
}

#btnLogin, #btnLogin:hover, #btnLogin:active {
    color:  #4b001a;
    text-decoration: none;
}

#pt1 {
    display: inherit;
}

#pt2 {
    display: none;
}

.registerButton,
.nextButton,
.backButton {
    align-items: center;
    font-weight: bold;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffa500 0, #ff8c00 100%);
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-grid;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 10px;
}

.registerButton:focus,
.nextButton:focus,
.backButton:focus {
    box-shadow: #fe5a1d 0 0 0 1.5px inset, rgba(255, 103, 0, .4) 0 2px 4px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
}

.registerButton:hover,
.nextButton:hover,
.backButton:hover {
    box-shadow: rgba(255, 103, 0, .4) 0 4px 8px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
    transform: translateY(-2px);
}

.registerButton:active,
.nextButton:active,
.backButton:active {
    box-shadow: #fe5a1d 0 3px 7px inset;
    transform: translateY(2px);
}

.input-group span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: #f00;
}

#city{
    position: relative;
    bottom: 20%;
}