@font-face {
    font-family: "Sniglet";
    src: url('../fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');

    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
}

html { 
    overflow: hidden;
    background: linear-gradient(180deg, #cf0045, transparent);
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.img {
    transform: scaleX(-1);
    height: 60rem;
    display: grid;
    position: relative;
    left: 68rem;
    top: -7rem;
    z-index: 0;
}

.form {
    font-family: "Nunito", "sans-serif";
    border: 3px solid #000;
    color: #000;
    border-radius: 12px;
    position: absolute;
    padding: 18rem 20rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    
}

.table1 {
    top: 37px;
    position: fixed;
    left: 4rem;
}

.table2 {
    top: 7.5rem;
    position: fixed;
    left: 22rem;
}

.link{
    position: relative;
    right: 9.5rem;
}

.signupBox input[type="text"],
.signupBox input[type="password"] {
    width: 100%;
    width: 15rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.signupBox button {
    background-color: #CD5151;
    color: #000;
    padding: 15px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    width: 70%;
    right: 7.5rem;
}

.signupBox:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.signupBox button:hover {
    background-color: #a73c3c;
}

.registerButton {
    align-items: center;
    font-weight: bold;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffa500 0, #ff8c00 100%);
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-grid;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 10px;
}

.registerButton:focus {
    box-shadow: #fe5a1d 0 0 0 1.5px inset, rgba(255, 103, 0, .4) 0 2px 4px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
}

.registerButton:hover {
    box-shadow: rgba(255, 103, 0, .4) 0 4px 8px, rgba(255, 103, 0, .3) 0 7px 13px -3px, #fe5a1d 0 -3px 0 inset;
    transform: translateY(-2px);
}

.registerButton:active {
    box-shadow: #fe5a1d 0 3px 7px inset;
    transform: translateY(2px);
}

/* #gradient {
    display: grid;
    background: linear-gradient(135deg, #ff6699, #ff3366, #ff0066);
    background-size: 300% 300%;
    height: 100rem;
    animation: colors 15s ease infinite;
    padding: 1rem;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */