@font-face{
    font-family: "Nunito";
    src: url('../style/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');

    font-family: "Sniglet";
    src: url('../style/fonts/Sniglet/Sniglet-Regular.ttf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.img{
    transform: scaleX(-1);
    height: 90rem;
    display: flex;
    position: absolute;
    left: 50rem;
    top: -15rem;
    
}

.logo{
    font-family: "Sniglet", sans-serif;
    color: #fff;
    font-size: 55px;
}

.form{
    font-family: "Nunito", "sans-serif";
    border: 3px solid #fff;
    color: #fff;
    border-radius: 12px;
    padding: 20px 150px;
    font-size: 27px;
    
}

#gradient{
    display: flex;
    background: linear-gradient(135deg, #ffa22d, #dd8b26, #ff5691,#e3286a);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
    padding: 1rem;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}