<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/css/login.css">
        <title>Document</title>
    </head>
    <body class="gradient">
        <main class="container">
            <section class="logo">
                <h1>Solaria</h1>
            </section>
            <section class="form">
                <p><h2>Login</h2></p><br>
                <form action="#" method="post" name="login">
                    <h3>Email:</h3>
                    <input type="text" name="Email" placeholder="Email" id="Email"><br>

                    <h3>Senha:</h3>
                    <input type="text" name="Password" placeholder="Senha" id="Password"><br>

                    <input type="submit" name="Submit" value="Log-in">
                </form>
            </section>
        </main>
</html>
