<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="app/style/css/register.css">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
        <title>Document</title>
    </head>
    <body id="gradient">
        <main class="container">
            <section class="logo">
                <h1>Solaria</h1>
            </section>
            <section class="form">
                <h2>Cadastrar</h2><br>
                <form action="cadastro/efetuar" method="post" name="Cadastro">
                    <h3>Nome Completo:</h3>
                    <input type="text" name="name" id="name" placeholder="Nome"><br>

                    <h3>Data de Nascimento:</h3>    
                    <input type="text" name="birthDate" id="birthDate" placeholder="Data de Nascimento" maxlength="8"><br>

                    <h3>CPF:</h3>
                    <input type="text" name="CPF" id="CPF" placeholder="CPF" maxlength="9"><br>

                    <h3>Telefone:</h3>
                    <input type="text" name="phone" id="phone" placeholder="Telefone" maxlength="12"><br>

                    <h3>Email:</h3>
                    <input type="text" name="email" id="email" placeholder="Email"><br>

                    <h3>Senha:</h3>
                    <input type="password" name="password" id="password" placeholder="Senha"><br>
                    
                    <h3>Confirmar Senha:</h3>
                    <input type="password" name="conPassword" id="conPassword" placeholder="Confirmar Senha"><br>

                    <input type="submit" name="submit" id="submit" value="Cadastrar">
                </form>
                <script>
                    $("#phone").mask("(00) 00000-0000");
                    $("#CPF").mask("000.000.000-00");
                    $("#birthDate").mask("00/00/0000");
                </script>
            </section>
        </main>
        
    </body>
</html>
