<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="app/style/css/register.css">
        <script src="app/javaScript/jQuery.js"></script>
        <script src="app/javaScript/jMask.js"></script>
        <title>Cadastrar</title>
    </head>
    <body>
        <span id="gradient">
            <main class="container">
                <section class="form signupBox">
                    <h1>Cadastrar</h1><br>
                    <form action="cadastro/efetuar" method="post" name="Cadastro">

                        <p>Nome Completo:</p>
                        <input type="text" class="signupBox" name="name" id="name" placeholder="Nome"><br>

                        <p>Data de Nascimento:</p>    
                        <input type="text" class="signupBox" name="birthDate" id="birthDate" placeholder="Data de Nascimento" maxlength="8"><br>

                        <p>CPF:</p>
                        <input type="text" class="signupBox" name="CPF" id="CPF" placeholder="CPF" maxlength="9"><br>

                        <p>Telefone:</p>
                        <input type="text" class="signupBox" name="phone" id="phone" placeholder="Telefone" maxlength="12"><br>

                        <p>Email:</p>
                        <input type="text" class="signupBox" name="email" id="email" placeholder="Email"><br>

                        <p>Senha:</p>
                        <input type="password" class="signupBox" name="password" id="password" placeholder="Senha"><br>
                        
                        <p>Confirmar Senha:</p>
                        <input type="password" class="signupBox" name="conPassword" id="conPassword" placeholder="Confirmar Senha"><br>
                        
                        <button type="submit" name="submit" class="registerButton">Cadastrar</button>
                    </form>
                    <script>
                        $("#phone").mask("(00) 00000-0000");
                        $("#CPF").mask("000.000.000-00");
                        $("#birthDate").mask("00/00/0000");
                    </script>
                </section>
            </main>
        <img class="img" src="app/style/img/brandWithoutBG.png">
    </span>
    </body>
</html>
